body
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 20px;
width: 100%;
margin: 20px;
}

#status
{
font-size: 18px;
}
canvas
{
    box-shadow: 10px 10px 10px rgb(85, 85, 172);
    border-radius: 10px;
}   
a
{
    float:right;
    font-size: 18px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70px;
    background-color: rgb(179, 179, 255);
}
h3
{
    text-align: center;
}