body
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 20px;
width: 100%;
margin: 20px;
}

#status
{
font-size: 18px;
}
canvas
{
    box-shadow: 10px 10px 10px rgb(120, 119, 255);
    border-radius: 10px;
}   
a
{
    font-size: 18px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px;
    border-radius: 30px !important;
}